body {
  background-image: url("/img/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  padding: auto;
  margin: auto;
  font-family: 'Cabin', sans-serif;
  font-size: 5em;
}

.container {
  height:60%;
  padding-top: auto;
}

.form-group {
  font-size: .5em;
  margin-top: 1em;
  background-color:aliceblue; 
  padding: 1em;
  border-radius: 1em;
  opacity: 0.9;
  color:rgb(245, 102, 55)
}

#result {
  display: none;
  text-align: center;
  background-color: aliceblue;
  padding: 0.5em;
  opacity: 0.8;
  border-radius: .4em;
  font-family: 'Merriweather Sans', sans-serif;
  color:rgb(255, 64, 0);
  font-size: .5em;
  margin-bottom: 2em;
}

.banner {
  display: block;
  border-radius: 50%; 
  height: 2em;
  padding: auto;
  margin: auto;
  margin-bottom: 1.5em;
}
#bannerimg {
  display: block; 
  width: 100%;
  border-radius: 1em;
}

.top-container {
display: flex;
justify-content: center;
}

#rogersimg {
  display: block;
  display: none;
  border-radius: 50%; 
  height: 4.5em;
  padding: auto;
  margin: auto;
  margin-top: .3em;
}